<?xml version="1.0"?>
<config>
    <modules>
        <EW_NativePasswords>
            <version>1.0.0</version>
        </EW_NativePasswords>
    </modules>
    <global>
        <helpers>
            <ew_nativepasswords>
                <class>EW_NativePasswords_Helper</class>
            </ew_nativepasswords>
            <core>
                <encryption_model>EW_NativePasswords_Model_Encryption</encryption_model>
            </core>
        </helpers>
        <models>
            <ew_nativepasswords>
                <class>EW_NativePasswords_Model</class>
            </ew_nativepasswords>

            <adminhtml>
                <rewrite>
                    <url>EW_NativePasswords_Model_Adminhtml_Url</url>
                </rewrite>
            </adminhtml>

            <customer>
                <rewrite>
                    <customer>EW_NativePasswords_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>

        <blocks>
            <ew_nativepasswords>
                <class>EW_NativePasswords_Block</class>
            </ew_nativepasswords>
        </blocks>

        <events>
            <model_config_data_save_before>
                <observers>
                    <ew_nativepasswords>
                        <type>singleton</type>
                        <class>ew_nativepasswords/observer</class>
                        <method>validateEnvironment</method>
                    </ew_nativepasswords>
                </observers>
            </model_config_data_save_before>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <adminnotification>
                    <file>ew/nativepasswords.xml</file>
                </adminnotification>
            </updates>
        </layout>

        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <ew_nativepasswords>
                        <type>singleton</type>
                        <class>ew_nativepasswords/observer</class>
                        <method>addNotEnabledWarning</method>
                    </ew_nativepasswords>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>

    <default>
        <customer>
            <password>
                <native_passwords_enabled>0</native_passwords_enabled>
                <native_passwords_backwards_compatible>1</native_passwords_backwards_compatible>
                <native_passwords_cost>10</native_passwords_cost>
                <native_passwords_force_auto_salt>1</native_passwords_force_auto_salt>
                <native_passwords_rehash_enabled>0</native_passwords_rehash_enabled>
            </password>
        </customer>
    </default>

    <phpunit>
        <suite>
            <modules>
                <EW_NativePasswords />
            </modules>
        </suite>
    </phpunit>
</config>