<?xml version="1.0"?>
<config>
    <sections>
        <customer>
            <groups>
                <password>
                    <fields>
                        <native_passwords_enabled translate="label comment">
                            <label>Use PHP Native Password Hashing</label>
                            <comment><![CDATA[
                                If set to Yes,
                                <a href="http://php.net/manual/en/faq.passwords.php#faq.passwords.bestpractice">
                                PHP native password hashing and verification</a>
                                functionality will be used instead of Magento's hashing implementation.
                            ]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>customer/password/native_passwords_enabled</config_path>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </native_passwords_enabled>
                        <native_passwords_backwards_compatible translate="label comment">
                            <label>Use Backwards-Compatible Hash Verification</label>
                            <comment><![CDATA[
                                If set to Yes, password hashes generated by Magento
                                implementation will still be valid -- useful for stores which
                                want to allow customers to use previously created passwords.
                                Warning: if set to No, customers who created passwords previously
                                will have to reset their passwords in order to log in.
                            ]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>customer/password/native_passwords_backwards_compatible</config_path>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <native_passwords_enabled>1</native_passwords_enabled>
                            </depends>
                        </native_passwords_backwards_compatible>
                    </fields>
                </password>
            </groups>
        </customer>
    </sections>
</config>
